:root{
    --color-primary: hsl(25, 97%, 53%);
    --color-white: hsl(0, 0%, 100%);
    --color-grey : hsl(217, 12%, 63%);
    --color-grey-medium: hsl(216, 12%, 54%);
    --color-blue-dark: hsl(213, 19%, 18%);
    --color-blue-darker: hsl(216, 12%, 8%);
    --font-size: 15px;
    --font-family: Overpass;
    --font-weight-regular: 400;
    --font-weight-bold: 700;
}



body {
    background-color: var(--color-blue-darker);
}

main section {
    max-width: 22rem;
    aspect-ratio: 1;

    border-radius: 2rem;
    background-color: var(--color-blue-dark);
}

/*Utility classes*/

.center {
    display: grid;
    place-content: center;
}